body{
    background-image: url("https://s2.glbimg.com/7IeW1KmYA-o8tmz7m-Ofa9Kpwig=/0x0:984x554/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/C/9/B5eOGwRyueCc6xAQQNEw/league-of-legends.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


.container{
    background-color: rgba(0, 0, 0, 30%);
}

p{
    color: #565cd8;
}